<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/student.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="box">
      <form action="/assignments" method="GET">
        <h2>Hello <%= adminName %></h2>
        <button class="submit" type="submit">View Assignments</button>
      </form>
    </div>
  </body>
</html>
