<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="box">
      <% if (typeof error !== 'undefined') { %>
      <p style="color: red"><%= error %></p>
      <% } %>
      <div class="loginBox">
        <h2>Login into your Account</h2>
      </div>

      <form action="/check-user-login" method="POST">
        <p>Username:</p>
        <input type="text" id="username" name="username" required /><br />

        <p>Password:</p>
        <input
          type="password"
          id="password"
          name="password"
          required
        /><br /><br />

        <div class="dropdown-container">
          <select name="type" id="type" required>
            <option value="" disabled selected>Select Type</option>
            <option value="User">User</option>
            <option value="Admin">Admin</option>
          </select>
        </div>
        <br /><br /><br />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
